header {
    background-color: #FE2410;
}

h1 {
    font-family: Garamond, Verdana;
}

.lightred {
    color: #FE8176
}

header a:link {
    text-decoration: none;
    color: black;
}

header a:visited {
    color: black;
}

header a:hover {
    color: white;
}

header a:active {
    color: gray;
}

nav {
    background-color: #FFDEDB;
    padding: 3px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}